aiohttp==3.9.5
altair
anyio
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
distro
gTTS
httpx
idna
imageio
imageio-ffmpeg
Jinja2
jsonschema
markdown-it-py
MarkupSafe
mdurl
moviepy
multidict
numpy
openai==0.28.0
opencv-python
packaging
pandas
Pillow
proglog
protobuf
python-dateutil
python-dotenv
pytz
requests
streamlit
ffmpeg-python
